.App {
  background-color: #1d1d1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-calendar__navigation__arrow, .react-calendar__navigation__label, .react-calendar__tile {
  background-color: #313131;
  color: #FFFFFF;
  margin: 0.15em;
  border: none;
}

.react-calendar__navigation__arrow, .react-calendar__navigation__label {
  padding: 0.2em;
  flex-basis: 11%;
}

.react-calendar__tile {
  text-align: left;
  padding-bottom: 2em;
}

.react-calendar__month-view__days__day {
  max-width: 13% !important;
}